# ==========================================
# Variables de Entorno del Proyecto Py_autom
# ==========================================

# Configuración del Backend
PORT=3000
ENVIRONMENT=production

# URLs y Dominios en VPS
FRONTEND_URL=https://pyautom.adosproject.dev
BACKEND_URL=https://api-pyautom.adsoproject.dev
VITE_API_URL=https://api-pyautom.adsoproject.dev

# Google Drive API (Opcional si se usan los archivos token.json/credentials.json locales)
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
